<div class="container-fluid">
  <div class="row">
    <div class="col-6"
      style="background-color:#0089D1;height:70px;font-family:Comic Sans MS;font-size: 46px;padding-top:10px;padding-left:10px;color: #ffffff;">
      SPLendMe
    </div>
    <div class="col-6 text-right" style="background-color:#0089D1;color:#ffffff;">
      <h5>Welcome SPlender</h5>
    </div>

  </div>
  <div class="row"
    style="background-color:#0089D1;height:70px;font-family:'Courier New', Courier, monospace;height:32px;font-size: 16px;padding-left:10px;color: #ffffff;">
    <div class="col-sm-11">Simple Platform for Lending Management</div>
    <div class="col-sm-1">V 0.01</div>
  </div>
</div>
<nav class="navbar navbar-expand-sm justify-content-left" style="background-color:#0089D1;">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown" style="width:120px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color:#ffffff !important;">
        Quotes
      </a>
      <div #dropDownList class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/new-quote">New</a>
        <a class="dropdown-item" href="#">View Saved Quotation</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Report History</a>
      </div>
    </li>
    <li class="nav-item dropdown" style="width:120px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color:#ffffff !important;">
        Rating
      </a>
      <div #dropDownList class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Rate Serviced Lender</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Rate Quoted Lender</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Rate Others</a>
      </div>
    </li>
    <li class="nav-item dropdown"></li>
    <li class="nav-item dropdown" style="width:120px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color:#ffffff !important;">
        Lender
      </a>
      <div #dropDownList class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">ML</a>
        <a class="dropdown-item" href="#">VL</a>
      </div>
    </li>
    <li class="nav-item" style="width:50px;">
      <a class="nav-link" style="color:#ffffff !important;" href="#">Exit</a>
    </li>
  </ul>
</nav>