img {
  height: 100px;
  width: 105px;
}

#navbarText a {
  color: #fff;
}

#navbarText a:hover {
  color: #fff;
}

nav.navbar {
  background-color: #0089d1;
}

li.nav-item {
  padding: 0 15px;
}
