<app-header></app-header>
<div class="container-fluid">
    <h3 class="mt-4">Fetched Quotes</h3>
  <div class="row mt-4">
    
    <div class="col-md-8 offset-md-2">
      <div *ngFor="let quote of fetchedQuotes" class="card animated bounceInDown card-quote">
        <div class="card-body">
          <div class="row">
          <!-- <div class="col-md-2 card-title"><img [src]="https://via.placeholder.com/150.png" alt="logo"></div> -->
          <div class="col-md-5 card-title">Lender Name: {{quote.lender.name}}</div>
          <div class="col-md-3 card-title">Amount : {{quote.amount}}</div>
          <div class="col-md-2 card-title">Interest: {{quote.ratePayable}}</div>
          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>