<app-header></app-header>
<div class="container-fluid">
  <h3 class="mt-4">Fetched Quotes</h3>
  <div class="row mt-4">

    <div class="col-md-10 offset-md-1">
      <div *ngFor="let quote of fetchedQuotes" class="card animated bounceInDown card-quote">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 card-title"><img class="img-fluid img-rounded" [src]= "quote.imageSrc"  alt="logo"></div>
            <div class="col-md-4 card-title">Lender Name: {{quote.lender.name}}</div>
            <div class="col-md-2 card-title">Amount : {{quote.amount}}</div>
            <div class="col-md-2 card-title">Interest: {{quote.ratePayable}}</div>
            <div class="col-md-2 card-title"><button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#quoteItem">
                More info
              </button></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="quoteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quote Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Lender Name: Alaska USA credit Union</div>
         <div>Loan type: PL</div>
         <div>Lender Location : Chennai</div>
         <div>Duration: 23 months</div>
         <div>Amount: £2,000</div>
         <div>Rate payable: 10.5</div>
         <div>Need by date: 10/12/2019</div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="successPopup()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<app-footer class="q-footer"></app-footer>