<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <!-- <div class="pl-3 pt-5 upcoming-event">
        <ul class="list-group">
          <li class="list-group-item active d-flex justify-content-center">Upcoming Event</li>
          <li class="list-group-item" *ngFor="let event of upcomingEvents">{{event.date}} - {{event.name}},
            {{event.venue}}, {{event.state}}</li>
        </ul>
      </div> -->
    </div>
    <div class="col-md-7">
      <div class="bar-chart pt-5">
        <app-dashboard-chart></app-dashboard-chart>
      </div>
    </div>
  </div>
</div>
