<app-header class="fixed-top"></app-header>
<h1 class="pl-3 quote-header">Quotes</h1>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="quoteTypes mt-2 mb-4">

        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" (click)="selectQuote($event)"
              id="personal" value="personal">
            <label class="form-check-label pl-2">
              Personal (ST)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" (click)="selectQuote($event)" id="auto"
              value="auto">
            <label class="form-check-label pl-2">
              Auto
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" (click)="selectQuote($event)" id="home"
              value="home">
            <label class="form-check-label pl-2">
              Home
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" id="vc" value="vc">
            <label class="form-check-label pl-2">
              VC
            </label>
          </div>
          <div class="form-check pl-0">
            <label>
              Pledge
            </label>
          </div>
          <div class="sub-types pl-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="gold" value="gold">
              <label class="form-check-label pl-2">
                Gold
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="mortgage" value="mortgage">
              <label class="form-check-label pl-2">
                Home
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="shares" value="shares">
              <label class="form-check-label pl-2">
                Shares
              </label>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" id="educational" value="educational">
            <label class="form-check-label pl-2">
              Educational
            </label>
          </div>
          <div class="form-check pl-0">

            <label>
              Agricultural
            </label>
          </div>
          <div class="sub-types pl-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="land" value="land">
              <label class="form-check-label pl-2">
                Land
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="cattleStock" value="cattleStock">
              <label class="form-check-label pl-2">
                Cattle stock
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="equipment" value="equipment">
              <label class="form-check-label pl-2">
                Equipment
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="operating" value="operating">
              <label class="form-check-label pl-2">
                Operating Expenses
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quoteTypeRadio" id="warehouse" value="warehouse">
              <label class="form-check-label pl-2">
                Warehouse expenses
              </label>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="quoteTypeRadio" id="workingCapital"
              value="workingCapital">
            <label class="form-check-label pl-2">
              Working capital
            </label>
          </div>
        </form>
      </div>

    </div>
    <div class="col-md-8">
     
      <div class="quoteDetails" [ngSwitch]="selectedQuoteType">
        <form action="" *ngSwitchCase="'auto'">
          this is auto
        </form>

        <div class="slideInLeft animated quote-details-box" *ngSwitchCase="'personal'">
            <h4 class="">Please enter details for {{selectedQuoteType}} loan</h4>
            <form (ngSubmit)="fetchQuotes()" class="mt-4">

                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label">Duration of loan</label>
                  <div class="col-sm-5 form-inline">
                    <input type="email" class="form-control" [(ngModel)]="loanDuration" name="loanDuration" id="loanDuration" placeholder="Eg: 5">
                    <div class="pl-2">months</div>
                  </div>
                  
                </div>
                <div class="form-group row">
                  <label for="amountRequested" class="col-sm-4 col-form-label">Amount requested</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="amountRequested" name="amountRequested" id="amountRequested" placeholder="Eg: £1,000">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Rate payable (%)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="ratePayable" name="ratePayable" id="ratePayable" placeholder="Eg: 8">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-4 col-form-label">Need by date</label>
                  <div class="col-sm-8">
                    <input type="date" [(ngModel)]="needByDate" name="needByDate" class="form-control" id="needByDate">
                  </div>
                </div>
      
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Send to Another A/C</label>
                    <div class="col-sm-8">
                      <input type="text" [disabled]="true" [(ngModel)]="sendAnotherAcc" name="sendAnotherAcc" class="form-control" id="sendAnotherAcc" placeholder="Eg: 000231900123124">
                    </div>
                  </div>
      
                <div class="form-group row">
                  <div class="col-sm-8">
                    <button type="submit" value="submit" class="btn btn-lg btn-primary">Fetch Quotes</button>
                  </div>
                </div>
      
              </form>
        </div>

      




        <form action="" *ngSwitchCase="'home'">
          this is home

        </form>


        <form action="" *ngSwitchCase="vc">

        </form>


        <form action="" *ngSwitchCase="gold">

        </form>


        <form action="" *ngSwitchCase="mortgage">

        </form>

        <form action="" *ngSwitchCase="educational">

        </form>

        <form action="" *ngSwitchCase="shares">

        </form>



        <form action="" *ngSwitchCase="workingCapital">
          working caoiuta
        </form>

      </div>
    </div>
  </div>
</div>

<app-footer>

</app-footer>